# a comment - this is ignored
#*.a       # no .a files
#!lib.a    # but do track lib.a, even though you're ignoring .a files above
#/TODO     # only ignore the root TODO file, not subdir/TODO
build/     # ignore all files in the build/ directory
/build     # ignore all files in the build/ directory
/build/    # ignore all files in the build/ directory
_build/    # ignore all files in the _build/ directory
cmake_build/
cmake_repo/
xcuserdata/
/xcuserdata
/xcuserdata/
$process/
/$process
/$process/
.DS_Store
*.pbxuser
#doc/*.txt # ignore doc/notes.txt, but not doc/server/arch.txt
Documentation/doxygen/*
Debug_Win32
DebugQt
_DebugQt
Release
Release_Win32
ReleaseQt
_ReleaseQt
_build*
.build*
*Generated*
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.ipch
!*.cpp
!*.h
ddd
/ParticleEditorGraphIssues/
/scene_sample/
/scene_sample_multi/
/testproj/
fmod.log
*.user
/DavaConfig.in
*.xccheckout
Projects/UnitTests/android/assets

Projects/UnitTests/android/.settings/*
.vs
AppPackages

!/Libs/lib_CMake/win10/arm/Debug
!/Libs/lib_CMake/win10/arm/Release
!/Libs/lib_CMake/win10/x64/Debug
!/Libs/lib_CMake/win10/x64/Release
!/Libs/lib_CMake/win10/x86/Debug
!/Libs/lib_CMake/win10/x86/Release
Projects/TestBed/android/assets/
Projects/TestBed/android/obj/
Projects/TestBed/android/bin/
Projects/TestBed/android/libs/
Projects/TestBed/android/gen/
Projects/TestBed/android/.settings/
Projects/Win32Framework/Debug/*
