#include "Tests/$UNITTEST_CLASSNAME$.h"

#include "Infrastructure/GameCore.h"

using namespace DAVA;

$UNITTEST_CLASSNAME$::$UNITTEST_CLASSNAME$ (GameCore* g)
    : BaseScreen(g, "$UNITTEST_CLASSNAME$")
{
}

void $UNITTEST_CLASSNAME$::LoadResources()
{
    BaseScreen::LoadResources();
    //TODO: Initialize resources here
}

void $UNITTEST_CLASSNAME$::UnloadResources()
{
    BaseScreen::UnloadResources();
    //TODO: Release resources here
}

