#pragma once

#include "Infrastructure/BaseScreen.h"

class GameCore;
class $UNITTEST_CLASSNAME$ : public BaseScreen
{
public:
    $UNITTEST_CLASSNAME$(GameCore* g);

protected:
    void LoadResources() override;
    void UnloadResources() override;
};
