#include "Tests/$UNITTEST_CLASSNAME$.h"

using namespace DAVA;

$UNITTEST_CLASSNAME$::$UNITTEST_CLASSNAME$ ()
    : BaseScreen("$UNITTEST_CLASSNAME$")
{
}

void $UNITTEST_CLASSNAME$::LoadResources()
{
    BaseScreen::LoadResources();
    //TODO: Initialize resources here
}

void $UNITTEST_CLASSNAME$::UnloadResources()
{
    BaseScreen::UnloadResources();
    //TODO: Release resources here
}

