#pragma once

#include "Infrastructure/BaseScreen.h"

class $UNITTEST_CLASSNAME$ : public BaseScreen
{
public:
    $UNITTEST_CLASSNAME$();

protected:
    void LoadResources() override;
    void UnloadResources() override;
};
